@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");

.app {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1650px;
}

.cat_card {
  max-width: 350px;
  border: 1px solid black;
  margin: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.image img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.text {
  padding: 8px;
}

.text h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.text p, .text a {
    font-family: 'Lato', sans-serif;
}
